* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #1a1a1a;
}

.cards {
    margin: 2rem 2rem 2rem 0;
    width: 30vh;
    height: 40vh;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.507);
    transition: transform 0.3s ease;
    cursor: pointer;
    text-align: center;
}

.cards:hover {
    transform: scale(1.1);
}

.name {
    color: black;
    font-weight: 800;
    padding: 1rem;
}

.cards_image {
    justify-content: flex-end;
    width: 100%;
    padding: 1rem;
}

.cards_image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid white;
}

.profile-top {
    background-color: lightblue;
}

.profile-bottom {
    padding: 1rem;
}